# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Spotify authentication cache
.cache
.cache-*

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/ 